@charset "UTF-8";
body{
    background-color: rgb(0, 193, 242);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(255, 255, 255);
    background-color: rgb(12, 102, 27);
}
h2{
    color: rgb(0, 0, 0);

}
p {
    text-align: justify;
}
